
.navbar{
    height: 100px;
    

    .wrapper{
        max-width: 1000px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        span{
            font-weight: bold;
        }

        .socials{
            display: flex;
            gap: 20px;

            img{
                width: 18px;
                height: 18px;
            }
        }
    }
    
}