html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family:"DM sans", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #0c0c1d;
    color: lightgray;
}
a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align:center;
}